{% extends "university/base.html" %}

{%block title%}Project Details{%endblock title%}
{% block styleblock %}
#clockdiv{
font-family: sans-serif;
color: #fff;
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 30px;
}
#clockdiv > div{
padding: 10px;
border-radius: 5px;
background: blue;
display: inline-block;
}
#clockdiv div > span{
padding: 15px;
border-radius: 5px;
background: green;
display: inline-block;
margin-top: 20px;
}
smalltext{
padding-top: 5px;
font-size: 16px;
}
#heading{
padding: 30px;
}
{% endblock styleblock %}

{%block content%}
{% if isBiddingDone %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Bid</strong> succeeded. Stay tuned!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<!-- Content -->
  <div class="card text-center">
    <div class="card-header">
      <h3>{{project.project_name}}<h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Published By: {{project.developed_for}}</h5>
      <p class="card-text">{{project.project_description}}</p>
      <h3 id="heading">Auction will end in!</h3>
      <div id="clockdiv">
        <div>
          <span class="days" id="day"></span>
          <div class="smalltext">Days</div>
        </div>
        <div>
          <span class="hours" id="hour"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes" id="minute"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds" id="second"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>

      <p id="demo"></p>

      {%if project.is_bidding_end %}
      <button href="#" disabled class="btn btn-primary">Auction is ended!</button>
      {%elif project.is_bidding_started %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Bid
      </button>
      <p class="text-info">Listen! You can bid two times for a project.</p>
      {% if revisionsCompleted %}        
        <script> alert("You can not bid now. You have already used your both revisons") </script>
      {% endif %}

      {%else%}
      <button href="#" disabled class="btn btn-primary">Auction is not started yet!</button>
      {% endif %}
    </div>
    <div class="card-footer text-muted">
      Auction till: <a href="">{{project.bidding_end | date:"D, d-M-Y h:i A"}}</a>
      <p id="datehere" style="display: none">{{project.bidding_end | date:"b d, Y G:i:s"}}
      <p>
    </div>
  </div>
<div class="content">
<table class="table table-dark" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bidder</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>

    </tr>
  </thead>
  <tbody id="myTable">
      {% for bidding in biddings %} 
        <tr>
          <th scope="row" >{{forloop.counter}}</th>
          <td><a class="link" href="/university/profile/{{bidding.bidder.admin.pk}}">{{bidding.bidder}}</a></td>
          <td>$ {{bidding.bidding_price}} </td>     
          <td>{{bidding.performed_at | date:"D, d-M-Y"}}</td>
          <td>{{bidding.performed_at | date:"h:i:s"}}</td>

        </tr>
      {% endfor %}
  </tbody>
</table>

</div> <!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter you bid...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="">
          {% csrf_token %}
          <input type="number" style="display: none" readonly name="project_id" class="form-control"
            value="{{project.pk}}">
          <div class="input-group mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="bidding_price" >

            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm Bid</button>
          </div>

        </form>

      </div>


    </div>
  </div>



</div>


<script>
  {% comment %} "dec 31, 2020 15:37:25" {% endcomment %}
  date = document.getElementById("datehere").innerHTML;
  var deadline = new Date(date).getTime();
  var x = setInterval(function () {

    var now = new Date().getTime();
    var t = deadline - now;
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);
    document.getElementById("day").innerHTML = days;
    document.getElementById("hour").innerHTML = hours;
    document.getElementById("minute").innerHTML = minutes;
    document.getElementById("second").innerHTML = seconds;
    if (t < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "TIME UP";
      document.getElementById("day").innerHTML = '0';
      document.getElementById("hour").innerHTML = '0';
      document.getElementById("minute").innerHTML = '0';
      document.getElementById("second").innerHTML = '0';
    }
  }, 1000); 
</script>

{%endblock content %}